.item
    div Nome
        div
            input(type="text", name="nome", placeholder="Digite o nome completo")

.item
    div Email
        div
            input(type="email", name="email" placeholder="Digite o email" required)

.item
    div Passaporte
        div
            input(type="text", name="passaporte" placeholder="Digite o passaporte da UFMS" required)

.item
    div Cargo
        select(name="papel_id" required)
            option()
            each papel in papeis
                option(value=papel.id)=papel.nome

.item#administrador
    div Administrador
    div
        input(type="checkbox", name="is_admin" value="true")




