extends ../../layout.pug

block content
    section.container.form.card
        .success-lottie
        div
            h3 Conta removida com sucesso!

        .center
            a(href="#" onclick="history.back()") Voltar
    
    script(src='/lottie.min.js')

    script. 
        const element = document.querySelector('.success-lottie')

        lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/782-check-mark-success.json' // the path to the animation json
        });
        setTimeout(() => {
            window.location.href = '/users/list'
        },3200)