extends ../layout.pug

block content
    section.container.form
        form(action="/reagentes" method="POST")
            .header
                h3 Registrar Consumo

            .fields
                include fields.pug
            
            button.button(type='submit') Salvar