div.item
    div Nome Comum:
        div
            input(type="text", name="nome_comum")
div.item        
    div Nome Oficial:
        div
            input(type="text", name="nome_oficial")
div.item            
    div Marca:
        div
            input(type="text", name="marca")
div.item
    div Lote:
        div
            input(type="text", name="lote")
div.item
    div Estado
        div
            span
                input(type="radio", name="estado" value="solido" ) 
                |  Sólido (g)

            span
                input(type="radio", name="estado" value="líquido" checked) 
                | Líquido (L)
div.item
    div Quantidade:
        div
            input(type="number", name="quantidade" placeholder="0.01" step="0.0001" min="0.0001" max="100000")
div.item
    div Consumo:
        div
            input(type="number", name="consumo" placeholder="0.01" step="0.0001" min="0.0001" max="100000")
div.item
    div Controlado
        div
            span
                input(type="radio", name="controlado" value="sim" ) 
                |  Sim

            span
                input(type="radio", name="controlado" value="não" checked) 
                | Não
div.item
    div 
        select(name="orgao")
            option(value="Exército") Exército
            option(value="Polícia Federal") Polícia Federal



//- Nome comum:
//- Nome oficial:
//- Fórmula molecular:
//- Marca:
//- Lote:
//- Validade
//- Quantidade:
//- Localização:
//- Incompatibilidade:
//- Controlado: Não Sim: Exercito / PF
//- Informações adicionais:
//- Data da atualização:
