extends ./layout.pug

block content
    section.container.form.card
        .error-lottie
        div
            h3 Erro Inesperado!

            h3 Caso persista o erro, entre em contato com o administrador.

        .center
            a(href="/" onclick="/") Home Page
    
    script(src='/lottie.min.js')

    script. 
        const element = document.querySelector('.error-lottie')

        lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/11124-error-icon.json' // the path to the animation json
        });
        setTimeout(() => {
            window.location.href = '/'
        },3200)