extends layout.pug

block content
    .home-container
        a.btn-home(href="/buscar-reagente") Buscar Reagente
            i.material-icons search
        a.btn-home(href="/cadastrar-reagente") Novo Reagente
            i.material-icons add
        //- a.btn-home(href="/registrar-consumo") Registrar Consumo
        //-     i.material-icons assignment