doctype
html(lang='en')
    head
        meta(charset='utf-8')
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        include ./parts/styles.pug
        title GEEMs
        block head

    body
        include ./parts/header.pug

        main.container-main__buttons
            .actions
                button(onclick="window.location.href='/reagentes/list'")
                    a(href="/reagentes/list") Buscar Reagentes
                button(onclick="window.location.href='/reagentes'")
                    a(href="/reagentes") Novo Reagente
                if isAdmin            
                    button(onclick="window.location.href='/users/list'")
                        a(href="/users/list") Usuários
                    button(onclick="window.location.href='/relatorios'")
                        a(href="/relatorios") Relatórios
    
    include ./parts/footer.pug
    script(src="/scripts.js")
