doctype
html(lang='en')
    head
        meta(charset='utf-8')
        include ./parts/styles.pug
        title GEEMs
        block head

    body
    include ./parts/header
    //- include ./parts/messages

    block content

    include ./parts/footer

script(src="/scripts.js")