doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
        style
            include ../../public/style.css
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        block head
            title Controle Laboratório
    body
    include ./parts/header

    block content

    include ./parts/footer

script(src="/scripts.js")