header
    .container-header.site
        .logo-header(onclick="window.location.href='/'")
            .imagem-header
                img(src="/flask.svg", alt="")
            .titulo-header
                h2 GEEMs
                p Controle de Reagentes

        .search-header
            form(action="/reagentes/search" method="GET" class="search")
                input(
                    type="text", name="filter", placeholder="Buscar por reagente")
                button
                    i.material-icons search

        .menu-header
            //- ul.itens
            //-     li
            //-         a(href="/reagentes")
            //-             i.material-icons add
            //-             | Novo Reagente
            ul.itens
                li
                    a(href="/conta")
                        i.material-icons account_circle
                        | Minha Conta
            .dropdown
                button.dropbtn(onclick="logout()") 
                    i.material-icons#dropIcon keyboard_arrow_down
                .dropdown-content#myDropdown
                    form(action="/logout", method="post")
                        button(type="submit") Sair