/* Página Index */
body header .container-header,
body header .container-header.site{
    width: 940px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-areas: ". logo menu";
}

body header .container-header.site{
    grid-template-areas: "logo search menu";
}

.logo-header {
    margin-right: auto;
    grid-area: logo;

    display: inline-flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.logo-header .titulo-header h2{
    font-size: 3.4rem;
    letter-spacing: .2rem;

    color: white;
}

.logo-header .titulo-header p{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #d9d9d9;
}

.imagem-header {
    max-width: 70px;
    margin-right: 16px;
}

.imagem-header img{
    width: 100%;
}

/* Header Search */
.search-header {
    width: 100%;
    grid-area: search;
    display: flex;
    justify-content: center;
}

.container-header.site form.search {
    align-self: center;
    justify-self: center; 
    width: 90%;
    margin-left: 10px;
    display: inline-flex;
}


.search input {
    width: 100%;

    padding: 0.8rem 1.6rem;
    border-radius: 0.2rem;

    font-size: 1.6rem;
}

.search button {
    background-color: var(--primary-color);
    color: white;

    border: 1px solid var(--primary-color-hover);
    border-radius: 4px;
}

/* Menu Novo Reagente e Minha conta */
.container-header .menu-header {
    grid-area: menu;

    margin-left: auto;
    margin-right: 10px;
    justify-self: center;
    align-self: center;
    /* justify-self: right; */
    display: inline-flex;
}

.container-header.site .menu-header {
    /* display: inline-flex; */
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.container-header .menu-header a{
    display: flex;
    
    justify-content: center;
    align-items: center;

    align-self: center;
    justify-self: center;
    
    color: white;
    font-size: 1.6rem;

    transition: 200ms;
}

.container-header .menu-header a:hover{
    color: lightgray;
}



/* Ocultar form and button */
.container-header .hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.dropbtn {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: var(--primary-color-hover);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-right: auto;
}

.dropdown-content button {
    background-color: var(--primary-color);
    color: white;
    margin-top: 4px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.dropdown-content button:hover {
    color: lightgray;
}

.container-header .show, 
.container-header.site .show { 
    display: block;
}



@media (max-width: 940px) {
    body header .container-header,
    body header .container-header.site {
        width: initial;
        max-width: initial;
        grid-template-areas: ". logo menu";
        grid-template-columns: 0.5fr 1fr 0.6fr;
    }

    .container-header .logo-header,
    .container-header.site .logo-header {
        margin-right: initial;
    }

    .container-header .menu-header {
        margin-left: initial;
        margin-right: initial;
    }
    .container-header.site form.search {
        display: none;
        visibility: hidden;
    }

    .search-header {
        margin-top: 12px;
    }
    
    .search-header form {
        display: inline-flex;
        width: 100%;
    }

    .search-header form input {
        border: 1px solid #ddd;
        margin-right: 2px;
    }
}

@media (max-width: 860px) {
    body header .container-header, 
    body header .container-header.site {
    }
}

/* @media (max-width: 722px) {
    body header .container-header.site{
        grid-template-columns: initial;
    }


} */

@media (max-width:634px) {
    body header .container-header,
    body header .container-header.site{
        grid-template-columns: initial;
    }

    .imagem-header {
        display: none;
        visibility: hidden;
    }

    .imagem-header img{
        display: none;
        visibility: hidden;
    }


}