main.container-main__buttons {
    margin: auto;
}

main.container-main__buttons .actions {
    display: inline-flex;
}

main.container-main__buttons .actions button{
    padding: 64px 8px;

    margin-right: 16px;
    
    width: 120px;

    background-color: var(--primary-color);

    border-radius: 8px;
    box-shadow: 0 8px 6px -6px black;

    transition: 400ms;

    cursor: pointer;
}

main.container-main__buttons .actions button:last-of-type{
    margin-right: initial;
}

main.container-main__buttons .actions button:hover{
    background-color: var(--primary-color-hover);
}

main.container-main__buttons .actions button a{
    font-size: 1.8rem;
    font-weight: bold;

    word-break: normal;
    
    color: white;
}

@media (max-width: 768px) {
    main.container-main__buttons .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 20px;
    }
    main.container-main__buttons .actions button{
        margin-right: initial;
        height: 170px;
    }

}