/* Layout Session */
.session-container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: auto;
}

.logo--login {
    width: 500px;

    display: grid;
    grid-template-columns: 100px 1fr;

    background-color: var(--primary-color);

    position: relative;
}

.logo--login img {
    width: 100%;
}

.logo--login .titulo--login {
    display: flex;

    flex-direction: column;
    align-self: center;
    justify-self: center;
    
    position: absolute;
}

.logo--login .titulo--login h2{
    font-size: 4rem;
    color: white;
    text-align: center;
}

.logo--login .titulo--login p{
    font-size: 2rem;
    color: #d9d9d9;
    text-align: center;
}

/* Login Page */
section.container.form.login {
    width: 500px;
}

section.container.form.login .header {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

section.login .header>h3 {
    font-size: 2.4rem;
    letter-spacing: initial;
    text-decoration: underline;
}

section.login .botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

section.login .botoes a{
    font-size: 1.8rem;
    color: #333333;
}

section.login .botoes a:hover{
    color: var(--primary-color);
    font-weight: bold;
}

@media (max-width:520px) {
    .session-container{
        margin: auto 0;
    }
    .logo--login {
        width: 100%;
    }

    .logo--login img {
        width: 75%;
    }

    .logo--login .titulo--login h2{
        font-size: 3.2rem;
    }
    
    .logo--login .titulo--login p{
        font-size: 1.4rem;
    }

    section.container.form.login {
        width: 100%;
        max-width: initial;
    }

}