/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
	border-collapse: collapse; 
	font-size: 1.4rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;
}

table thead {
	color: white;
	background-color: var(--primary-color);
	font-size: 1.8rem;
}

table tbody tr {
	border-bottom: 1px solid #dddddd;
}


/* remove bg-color button */
thead th button {
	background-color: initial;
}

/* Zebra striping */
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Border end of table */
tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

/* Actions buttons */
tbody tr td:last-of-type {
    display: flex;
    flex-direction: column;
}
tbody tr td:last-of-type a{
    display: flex;
    align-self: center;
    color: #777;
}
tbody tr td:last-of-type a:hover {
    color: black;
}
tbody td a i {
    font-size: 2rem;
    color: #777;
}
tbody td a i:hover {
    color: black;
}
thead th button i {
    font-size: 1.4rem;
    color: white;
}

thead th button i:hover {
    color: lightgray;
}

td, th { 
    padding: 6px; 
    text-align: center; 
}






  /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  { */
	@media (max-width:880px) {
		table button {
			visibility: hidden;
			display: none;
		}
	}

	@media (max-width:768px){

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 20%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: nowrap;
        
        font-weight: bold;
        text-align: justify;
	}
	
	/*
	Label the data
	*/
	table#reagentes td:nth-of-type(1):before { content: "Nome Oficial"; }
	table#reagentes td:nth-of-type(2):before { content: "Marca"; }
	table#reagentes td:nth-of-type(3):before { content: "Controlado"; }
	table#reagentes td:nth-of-type(4):before { content: "Quantidade"; }
	table#reagentes td:nth-of-type(5):before { content: "Ação"; }


		/*
	Label the data
	*/
	table#users td:nth-of-type(1):before { content: "Nome"; }
	table#users td:nth-of-type(2):before { content: "Email"; }
	table#users td:nth-of-type(3):before { content: "Administrador"; }
	table#users td:nth-of-type(4):before { content: "Ação"; }
}