extends ./layout-session.pug

block content
    section.container.form
        form(action="/conta/esqueceu-senha" method="POST")
            .header
                h3 Recuperar a Senha

            .fields
                .item
                    div Email
                        div
                            input(type="email", name="email" placeholder="Digite seu e-mail para recuperar a senha" required)
            
            button.button(type='submit') Enviar