extends ./layout-session.pug

block content
    section.container.form
        form(action="/conta/reset-senha" method="POST")
            .header
                h3 Nova Senha

            .fields
                include fields.pug
            
            button.button(type='submit') Enviar