extends ../layout.pug

block content
    section.container.form
        form(action="/conta/alterar-senha?_method=PUT" method="POST")
            .header
                h3 Nova Senha

            .fields
                include fields-change.pug
            
            button.button(type='submit') Alterar Senha