extends ../layout.pug

block content
    section.container.form
        form(action="/conta?_method=PUT" method="POST")
            .header
                h3 Meus Dados
                button#changePass(onclick='window.location.href="/conta/alterar-senha"')
                    a(href="/conta/alterar-senha") Alterar Senha

            .fields
                include ./fields
                input(type="hidden", name="id")
            
            button.button(type="submit") Atualizar
            