.item
    input(type="hidden", name="id", value=user.id)

.item
    div Senha
        div
            input(type="password", name="password" placeholder="Digite sua senha" required)
.item
    div Repita a senha
        div
            input(type="password", name="passwordRepeat" placeholder="Repita a nova senha" required)