extends ../layout.pug

block content
    section.container.form
        form(action="/cadastrar-reagente" method="POST")
            .header
                h3 Cadastrar Reagente

            .fields
                include fields.pug
            
            button.button(type='submit') Salvar