div.item
    div Nome Comum:
        div
            input(type="text", name="nome_comum" value= reagente.nome_comum)
div.item        
    div Nome Oficial:
        div
            input(type="text", name="nome_oficial" value= reagente.nome_oficial)
div.item
    div Fórmula Molecular:
        div
            input(type="text", name="formula_molecular" value= reagente.formula_molecular)
div.item            
    div Marca:
        div
            input(type="text", name="marca" value= reagente.marca)
div.item
    div Lote:
        div
            input(type="text", name="lote" value= reagente.lote)
div.item
    div Validade:
        div
            input(type="date", name="validade" value= reagente.validade)
div.item
    div Estado
        div
            span
                if reagente.estado == 'sólido'  
                    input(type="radio", name="estado" checked value="sólido") 
                    |  Sólido (g)

            span
                if reagente.estado == 'líquido'  
                    input(type="radio", name="estado" checked value="líquido") 
                    | Líquido (L)
div.item
    div Quantidade:
        div
            input(type="number", name="quantidade" placeholder="0.01" step="0.0001" min="0.0001" max="100000" value= reagente.quantidade)
div.item
    div Localização:
        div
            input(type="text", name="localizacao" value= reagente.localizacao)
div.item
    div Incompatibilidade:
        div
            input(type="text", name="incompatibilidade" value= reagente.incompatibilidade)
div.item
    div Controlado
        div
            span
                if reagente.controlado == 'sim'  
                    input(type="radio", name="controlado" value="sim" checked)
                    |  Sim

            span
                if reagente.controlado == 'não'  
                    input(type="radio", name="controlado" value="não" checked) 
                    | Não
div.item
    div 
        select(name="orgao")
            option(value="Exército") Exército
            option(value="Polícia Federal") Polícia Federal

div.item
    div Informações Adicionais
        div
            textarea(name="info_adicionais" value= reagente.info_adicionais)


//- //- Nome comum:
//- //- Nome oficial:
//- //- Fórmula molecular:
//- //- Marca:
//- //- Lote:
//- //- Validade
//- //- Quantidade:
//- //- Localização:
//- //- Incompatibilidade:
//- //- Controlado: Não Sim: Exercito / PF
//- //- Informações adicionais:
//- //- Data da atualização:
