extends ../layout.pug 

block content
    .container
        h1.title  Listagem dos Reagentes
        table.content-table
            thead
                tr
                    td Nome
                    td Marca
                    td Controlado
                    td Quantidade
                    td Ação
            tbody
                tr
                    td Isopropílico
                    td adssdas
                    td Não
                    td 2L
                    td
                        a(href="/show") Visualizar
                            i.material-icons search
                        a(href="/registrar-consumo") Consumo
                            i.material-icons assignment
                tr
                    td Isopropílico
                    td adssdas
                    td Não
                    td 2L
                    td
                        a(href="/show") Visualizar
                            i.material-icons search
                        a(href="/registrar-consumo") Consumo
                            i.material-icons assignment
                tr
                    td Isopropílico
                    td adssdas
                    td Não
                    td 2L
                    td
                        a(href="/show") Visualizar
                            i.material-icons search
                        a(href="/registrar-consumo") Consumo
                            i.material-icons assignment
                tr
                    td Isopropílico
                    td adssdas
                    td Não
                    td 2L
                    td
                        a(href="/show") Visualizar
                            i.material-icons search
                        a(href="/registrar-consumo") Consumo
                            i.material-icons assignment



    //- div.table-container (role="table" aria-label="Destinations")
    //-     div.flex-table.header" role="rowgroup">
    //-     div.flex-row.first" role="columnheader">Nome
    //-     div.flex-row" role="columnheader">Fórmula
    //-     div.flex-row" role="columnheader">Controlado
    //-     div.flex-row" role="columnheader">Quantidade